.p-details {
    flex-direction: column;
    height: 6rem;

}

.p-image {
    background-color: rgba(100, 100, 100, 0.2);
    padding: 0.5rem;
    height: 8rem;
    width: 10rem;
}

.p-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}