.pcheader,
.mobileheader {
    background-color: #174AC0;
    height: 7rem;
    display: flex;
    z-index: 4;
}

.product-title span {
    transition: .4s;

}

.product-title span:hover {
    color: #174AC0;

}

.Top {
    font-size: 2rem;
}

.Items {
    font-size: 1.25rem;
}

.shape {
    color: white;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transform: skew(-20deg);
    transition: .3s;
}



.buttons-container svg {
    height: 3rem;
    position: absolute;
    width: 3rem;
    fill: #174AC0;
    cursor: pointer;

}





.product-image {
    height: 65%;
    border-radius: 0.5rem;
    height: 15rem;

}

.button button {
    transition: 1s;
    font-weight: 500;
    padding: 0rem 1rem;
    border: 0.15rem solid rgb(52, 50, 160);
}

.slide:hover {
    color: white;
    border-color: black;
    box-shadow: inset 7em 0 0 0 rgb(52, 50, 160);
}




.product-image img {
    height: auto;
    width: 60%;
    object-fit: contain;
}

.buttons-container {
    position: relative;
    top: 12rem;

    /* background-color: green; */
    display: flex;
    /* height: 24rem; */

    /* width: 80rem; */
    align-items: center;
    justify-content: space-between;
}

.right {
    position: relative;
    right: 2rem;
}

.buttons-container svg {
    opacity: 0.5;
}

.brands {
    border: .12rem solid;
    border-color: rgba(0, 0, 0, 0.2);
    padding: .5rem 2rem;
    border-radius: .8rem;
}



.buttons-container svg:hover {
    opacity: 1;
}

.catalog-container {
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
    cursor: pointer;
    width: auto;
    overflow: hidden;

}

* {
    user-select: none;
}

.card {
    cursor: default;
    width: 20rem;
    /* display: flex; */
    /* flex-direction: column; */
    height: 100%;
}


.under {
    border-bottom: 0.25rem solid gray;
}

.miniheader {
    border-bottom: 0.1rem solid black;
}

.mobileheader,
.activephone {
    display: none;
}

.search-bar input {
    user-select: none;
    height: 90%;
    outline: none;
    width: 100%;
    padding-left: 0.5rem;
    background-color: transparent;
}

.menublock {
    display: none;
}

.icon svg {
    font-weight: 900;
    height: 1.5rem;
    width: 1.5rem;
}

.icon2 svg {
    font-weight: 900;
    height: 2rem;
    width: 2rem;
}

.phone-search {
    display: none;
}


.icon {
    background-color: #FFC120;
    color: white;
    padding: .5rem;
    border-radius: 50%;
    user-select: none;
}

.icon2 {
    color: white;
    font-weight: 900;
}

.icon {
    z-index: 4;
    position: relative;
}



@media screen and (max-width:1000px) {

    .phone-search {
        display: block;
        opacity: 0;
        z-index: -1;
        background-color: #174AC0;
        transition: .3s;
        margin-left: -100%;
        padding: 1rem 0rem;
        position: absolute;

    }

    .buttons-container svg {
        transform: scale(2);
        cursor: pointer;

    }

    .icon3 {
        color: white;
    }

    .shape {
        font-size: 0.65rem;
        padding: 0.25rem 0.5rem;
        transform: none;
    }

    .icon3 svg {
        width: 3rem;
        height: 3rem;
    }

    .menubutton {
        background-color: rgba(255, 255, 255, 0.2);
        margin: auto;
        display: flex;
        margin-bottom: 10vh;
        max-width: 80%;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        padding: 1rem 0rem;
    }


    body {
        /* overflow-x: hidden; */

    }

    .menublock {
        min-height: 100vh;
        background-color: #174AC0;
        top: 0;
        width: 100%;
        position: fixed;
        z-index: 2;
        margin-left: 100%;
        transition: .3s;
        padding-top: 10rem;
        display: block;

    }

    .activemenublock {
        padding-top: 10rem;
        transition: .3s;

        opacity: 1;
        margin-left: 0%;

        display: block;
    }

    .activephone {
        display: block;
        z-index: 1;
        background-color: #174AC0;
        transition: .3s;
        padding: 1rem 0rem;
        margin-left: 0%;

        opacity: 1;

    }



    .pcheader {
        display: none;

    }

    .button button {
        padding: 0;
        padding: 0.2rem 0.4rem;
        font-size: 0.75rem;
    }

    .mobileheader {
        display: flex;
    }

    .icon svg {
        stroke-width: 55;
        font-weight: 900;
        height: 2.5rem;
        width: 2.5rem;
    }

    .text {
        margin-left: 1.75rem;
    }



    .catalog-container {
        width: 100%;
        padding: 0;
        margin: auto;
        margin-top: 1rem;
        padding-bottom: 2rem;
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }

    .card {
        /* background-color: red; */

        cursor: default;
        width: 40vw;
        margin: auto;
        margin-bottom: 2rem;


        /* display: flex; */
        /* flex-direction: column; */
        height: 100%;
    }

    .product-image {
        border-radius: 0.5rem;
        height: 20vh;

    }

    .button {
        /* width: 100%; */
    }

    .details {
        justify-content: space-between;
        width: 100%;
    }

    .Top {
        font-size: 1.25rem;
    }

    .Items {
        font-size: .85rem;
    }



}

@media screen and (max-width:300px) {
    .headline {
        display: none;
    }

    .text {
        margin-left: 0.5rem;
    }
}