@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {}

.content {

    max-width: 78rem;
    margin: auto;
}

@media screen and (max-width:1000px) {
    .content {
        max-width: 100%;
        padding: 0rem;
    }

    .brands {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .brands img {
        margin-top: 2rem;
    }

    .brands img:last-child {
        margin-top: 0rem;
    }

}